<!DOCTYPE html>
<html>
<head>
    <title>Error</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>

<header class="heading">
    <h2 class="">ERROR</h2>
    <h1 class="">{{ error_title }}</h1> <!-- Render error title dynamically -->
</header>

<div class="image-container">
    <img src="{{ url_for('static', filename='images/favicon.png') }}" alt="" width="50" height="50">
</div>

<div class="error-message">
    <p>{{ error_message }}</p> <!-- Render error message dynamically -->
</div>

</body>
</html>
