<!DOCTYPE html>
<html>
<head>
    <title>Quickspecs Tool</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
</head>
<body>
    <table>
        <td>
            <header class="header">
                <h2>DCO Quickspecs Tool</h2>
            </header>

            <div class="upload-container">
                <h3>Select MAT file:</h3>
                <form method="POST" enctype="multipart/form-data" action="{{ url_for('generate_docx') }}">
                    <input type="file" name="MAT" class="custom-input" multiple="true">
                    <br>
                    <input type="submit" value="Upload" class="button">
                </form>
            </div>
        </td>
    </table>

    <div class="image-container">
        <img src="{{ url_for('static', filename='images/favicon.png') }}" alt="" width="50" height="50">
    </div>
</body>
</html>


